/**
    Using color palette:
        #201E1F, #FF4000, #FAAA8D, #FEEFDD, #50B2C0
**/
body {
    background-color: #201E1F;
}

#content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 750px;
    width: auto;
    align-content: center;
    color: #FEEFDD;
}

#content button {
    background-color: #FF4000;
    color: #FEEFDD;
    border: none;
    padding: 6px 5px;
}

#quote-container {
    margin-top: 20px;
}

.avatar {
    width: auto;
    min-width: 130px;
    max-width: 30%;
    height: auto;
}

.center-img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

.center-text { 
    text-align: center;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #FF4000;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    overflow: auto;
}

.navbar-item {
    float: left;
}

.navbar-item a {
    display: block;
    padding: 8px;
    color: #FEEFDD;
    text-decoration: none;
    font-size: 20px;
}

.navbar-item a:hover {
    background-color: #A13F1E;
}