/**
    Using color palette:
        Background: #201E1F
        Buttons: 
            - Default: #FF4000
            - Hover: #A13F1E
            - Pressed: #853216
        Text: #FEEFDD
        Links: 
            - Default: #50B2C0
            - Hover: #397E87
            - Pressed: #28575C
            - Visited: #3d4c85
**/

body {
    background-color: #201E1F;
}

#content {
    margin-left: auto;
    margin-right: auto;
    padding-left:120px;
    max-width: 750px;
    width: auto;
    align-content: center;
    color: #FEEFDD;
}

#content h1 {
    font-size: 300%;
    text-align: center;
    /* This padding-top margin-top hack makes sure the navbar 
     * doesn't cover up the content while moving to an anchor.
     * It feels a bit hacky, but I prefer it to using javascript to scroll, 
     * since people may have javascript disabled.
     */
}

#content h2 {
    text-align: center;

    /* This padding-top margin-top hack makes sure the navbar 
     * doesn't cover up the content while moving to an anchor.
     * It feels a bit hacky, but I prefer it to using javascript to scroll, 
     * since people may have javascript disabled.
     */
}

.button {
    background-color: #FF4000;
    color: #FEEFDD;
    border: none;
    padding: 6px 5px;
}

.button:hover {
    background-color: #A13F1E;
}

.button:active {
    background-color: #853216;
}

#quote-container {
    margin-top: 20px;
}

.avatar {
    width: auto;
    min-width: 130px;
    max-width: 30%;
    height: auto;
}

.center-img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

a {
    color: #A5D6D9;
    text-decoration: none;
}

a:hover {
    color: #85CCCC;
}

a:active {
    color: #6CB7C1;
}

a:visited {
    color: #B3BBDB;
}

.navbar-horizontal {
    width: 100%;
    height: auto;
    background-color: #FF4000;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    overflow: auto;
}

.navbar-vertical {
    width: auto;
    height: 100%;
    background-color: #FF4000;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    overflow: auto;
}

.navbar-horizontal ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-vertical ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-item {
    float: top;
}

.navbar-item a {
    display: block;
    padding: 8px;
    color: #FEEFDD;
    text-decoration: none;
    font-size: 20px;
}

.navbar-item a:hover {
    background-color: #A13F1E;
}

.navbar-item a:active {
    background-color: #853216;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.image-thumbnails img:hover {
  border: thick solid black;
}

#random-image-container img {
  margin-top: 20px;
}

.section {
    margin-bottom: 40px;
}